<mat-toolbar color="warn">

    <mat-icon>photo</mat-icon>
    <span>Destilados</span>

    <div fxFlex></div>

    {{usuario?.nome}}

    <button mat-icon-button routerLink='carrinho'>
        <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">
            <mat-icon>dialpad</mat-icon>
            <span>Login</span>
        </button>

        <button mat-menu-item (click)="sair()">
            <mat-icon>notifications_off</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>
